body {
   background-color: rgb(230, 230, 230);
   color: rgb(30, 30, 30);
   font-family: ğ™¿ğš›ğšğšŸğš’ğšğš  ğšƒğšğš¡ğš;
 }

h1, h2 {
    font-family: ğ™¿ğš›ğšğšŸğš’ğšğš  ğšƒğšğš¡ğš;
 }

h1 {
	color: indianred; 
	font-family: ğ“Ÿğ“»ğ“®ğ“¿ğ“²ğ“®ğ”€ ğ“£ğ“®ğ”ğ“½;
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 60px;
	text-transform: uppercase;
}

h2 {
	color: indianred;
	font-family: ğ™¿ğš›ğšğšŸğš’ğšğš  ğšƒğšğš¡ğš;
	font-size: 24px;
	font-weight: lighter;
}

a {
   text-decoration: none;
   color: indianred;
}
a:hover {
  color: pink;
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container {
		width: 600px;
	}
}

@media (max-width: 500px){
	.container {
		width: 400px;
	}
}

.card-white {
	background color: white;
	margin: 20px 0px;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0.1);
	border-radius: 4px;
	text-align: center;
}

.img-circle {
	border-radius: 40px;
}

.btn-beige {
	background-color: indianred;
	color: pink;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-beige:hover {
	background-color: pink;
	color: indianred;	
}

.list-horizontal {
   list-style: none;
   padding-left: 0px;
}

.list-horizontal li {
  display: inline;
  padding: 10px;
}

.list-horizontal i {
	font-size: 50px;
}

#introduction p {
	margin-bottom: 40px;
}





